form .likert {
  list-style:none;
  padding-top: 10px;
  padding-left: 0px !important;
}

form .likert:before {
  content: '';
  position:relative;
  top:11px;
  display:block;
  background-color:#efefef;
  height:4px;
}

form .likert li {
  display:inline-block;
  width:18%;
  text-align:center;
  vertical-align: top;
}

form .likert label {
  display:inline-block;
  width: 80%;
  padding-left: 20%;
}

form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:55%;
}

form .buttons {
  margin:30px 0;
  text-align:right;
}

form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}

form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;}
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;}
